<!DOCTYPE html>
<html>

<body>
  <header>
    <%- partial('_partial/header') %>
  </header>
  <main>
    <%- body %>
  </main>
  <footer>
    <%- partial('_partial/footer') %>
  </footer>
</body>

</html>